.forecast-container {
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
  align-items: center;
  padding: 3rem;
  margin-top: 2rem;
}

.forecast-container > p {
  font-weight: bold;
  font-size: x-large;
}
