.current-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  border: 3px solid blue;
  border-radius: 2rem;
  padding-top: 1.5rem;
}

.current-container > div {
  display: flex;
  border: red solid 3px;
  align-items: center;
  border-radius: 1rem;
  padding: 4rem;
  margin: 4rem;
  margin-top: 0;
}

.current-container > p {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.current-temp {
  margin-left: 3rem;
}

.current-temp > p {
  white-space: nowrap;
}
